<template name="games">
    <h3>Games</h3>

  {{#if isCreatingGame}}
      <form class="form form-create">
          <select name="teamOne">
            {{#each teams}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>

          vs

          <select name="teamTwo">
            {{#each teams}}
                <option value="{{_id}}">{{name}}</option>
            {{/each}}
          </select>

          <button class="btn btn-default" type="submit">Submit</button>
          <a class="btn btn-default cancel" href="#">Cancel</a>
      </form>
  {{else}}
      <a class="btn btn-default create" href="#">Create</a>
  {{/if}}

    <ul>
      {{#each games }}
        {{> game }}
      {{/each}}
    </ul>
</template>