<template name="team">
    <li>
      {{#if editedTeamId }}
          <form class="edit-team">
              <input class="form-control" name="name" type="text" value="{{name}}">
              <button class="btn btn-xs" type="submit">Submit</button>
              <a class="btn btn-xs cancel"  href="#">Cancel</a>
          </form>
      {{else}}
        {{ name }}
          <a class="btn btn-xs btn-default edit" href="#" >edit</a>
          <a class="btn btn-xs btn-default remove" href="#" >x</a>
      {{/if}}
    </li>
</template>